<nav class="bg-gray-800">
    <div class="px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <a href="/"><img class="h-8 w-auto" src="https://files.readme.io/29c6fee-blue_short.svg" alt="TMDB logo"></a>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        {% for item in navbar_items %}
                            {% if item.route == active_page %}
                                <a href={{ url_for(item.route) }} class="navbar-item rounded-3xl bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">{{ item.name }}</a>
                            {% else %}
                                <a href={{ url_for(item.route) }} class="navbar-item rounded-3xl px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ item.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <div class="flex items-center justify-center space-x-2">
                <img src={{current_user.profile_pic}} alt="Google profile pic" class="size-11 rounded-full"></img>
                <a href="{{ url_for('auth.logout') }}" class="navbar-item rounded-3xl px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                    Logout
                </a>
            </div>
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="navbar-item rounded-3xl px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                Login with Google
            </a>
            {% endif %}
        </div>
    </div>
</nav>
